<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneClient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <a href="/client/golfer_signup">Golfer Sign Up</a>
  <a href="/golfer_login">Golfer Log In</a>
  <a href="/golfer_logout" data-method="delete">Golfer Log Out</a>

  <a href="/client/caddy_signup">Caddy Sign Up</a>
  <a href="/caddy_login">Caddy Log In</a>
  <a href="/caddy_logout" data-method="delete">Caddy Log Out</a>

  <body>

    <% flash.each do |name, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
